.TopicChoiceContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 3rem;
}

h1{
    font-size: 27px;
    font-weight: semi-bold;
    text-align: center;
    color: black;
    padding: 10px;
    font-family: "Lato", sans-serif;
}